In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.sql import operators, extract

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
results_June = []
results_June = session.query(Measurement.tobs).filter(extract("month",Measurement.date) == '06' ).all()

In [5]:
#  3. Convert the June temperatures to a list.
temps=list(np.ravel(results_June))
print(temps[:20])

[78.0, 76.0, 78.0, 76.0, 77.0, 78.0, 77.0, 78.0, 78.0, 79.0, 78.0, 78.0, 78.0, 77.0, 78.0, 78.0, 77.0, 77.0, 82.0, 78.0]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results_June,  columns= ['June Temps'])

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_December = []
results_December = session.query(Measurement.tobs).filter(extract("month",Measurement.date) == '12' ).all()

In [9]:
# 7. Convert the December temperatures to a list.
temps=list(np.ravel(results_December))
print(temps[:20])

[76.0, 74.0, 74.0, 64.0, 64.0, 67.0, 77.0, 66.0, 69.0, 68.0, 68.0, 71.0, 74.0, 67.0, 66.0, 69.0, 71.0, 70.0, 70.0, 74.0]

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(results_December, columns=['December Temps'])

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

# For Deliverable 3: June Precipitation

In [12]:
#A query that filters the Measurement table to retrieve the precipitation for the month of June.
results_June_prcp=[]
results_June_prcp = session.query(Measurement.prcp).filter(extract("month",Measurement.date) == '06' ).all()

In [13]:
#Conversion of June precipitation to a list.
temps=list(np.ravel(results_June_prcp))
print(temps[:20])

[0.0, 0.01, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [14]:
#Created a DataFrame from the list of precipitation for the month of June. 
df = pd.DataFrame(results_June_prcp, columns=['June Precipitation'])

In [15]:
#Calculated and printed out the summary statistics for the June precipitation DataFrame.
df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

# For Deliverable 3: December Precipitation

In [16]:
#A query that filters the Measurement table to retrieve the precipitation for the month of December.
results_December_prcp=[]
results_December_prcp = session.query(Measurement.prcp).filter(extract("month",Measurement.date) == '12' ).all()

In [17]:
#Conversion of December precipitation to a list.
temps=list(np.ravel(results_December_prcp))
print(temps[:20])

[0.04, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.58, 0.77, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.4, 0.0, 0.0, None]

In [18]:
#Created a DataFrame from the list of precipitation for the month of December. 
df = pd.DataFrame(results_December_prcp, columns=['December Precipitation'])

In [19]:
#Calculated and printed out the summary statistics for the December precipitation DataFrame.
df.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000